* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
}
.wrapper {
  max-width: 1420px;
  margin: 0 auto;
}
h1 {
  font-weight: 300;
  font-size: 250px;
  line-height: 230px;
  color: #272727;
  margin: 0 0 43px 0;
}
h2 {
  font-weight: 400;
  font-size: 72px;
  line-height: 112.5%;
  color: #000000;
  margin: 0 0 84px 0;
}
h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 186%;
  color: #161515;
}
.texthome {
  max-width: 555px;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  color: #161515;
  margin: 0 0 60px 0;
}
p {
  max-width: 555px;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  color: #161515;
  text-align: center;
}
.desc {
  font-weight: 300;
  font-size: 24px;
  line-height: 186%;
  color: #000000;
  padding: 50px 0 50px 0;
  max-width: 515px;
}
.detal {
  color: #bb8b5d;
  text-decoration: underline;
}
.homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  background-color: #f8f8f8;
  padding: 0 0 210px 135px;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.watch_image img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.watch_image {
  position: relative;
  width: 477px;
  height: 630px;
  background: #f8f8f8;
  z-index: -1;
}
.btn {
  display: inline-block;
  padding: 30px 50px;
  font-weight: 300;
  font-size: 32px;
  line-height: 29px;
}
.btn._primary {
  background-color: #161515;
  color: #ffffff;
}
.btn._secondery {
  background-color: #ffffff;
  color: #272727;
}
.line {
  width: 178px;
  border-top: 1px solid #707070;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 150px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 80px;
    margin: 0;
  }
  h2 {
    font-size: 40px;
  }
    p {
    font-size: 20px;
    padding-left: 10px;
  }
  .desc {
    font-size: 18px;
    padding: 20px 0 10px 10px;
  }
  .texthome {
    font-size: 26px;
    text-align: center;
  }
  .homepage {
    padding: 0 0 80px 35px;
  }
}
